@use "../../styles/variables" as *;

.cover {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: $color-bg;
  pointer-events: none;
}

.texture {
  width: 100%;
  height: 100%;
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
